form {
  width: 500px;
  text-align: center;
  margin: 100px auto 10px;
  border: 1px solid #bcbcbc;
  padding: 10px;
}
.text-center{
  text-align: center;
}
.errors {
  color: red;
  font-size: 12px;
  list-style: none;
  padding-left: 0;
}
.success{
  color: green;
}
